{% extends "shared/base.html" %}

{% block title %}
    <title>Пароли</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div id="result" class="text-danger text-bold lead"></div>
        </div>

        <div class="row">

            {% include "components/tables/title.html" %}

            {% if available_passwords %}
                <table id="passwords_table" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Имя сервиса</th>
                            <th>Адрес сервиса</th>
                            <th>Описание</th>
                            <th>Логин</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <h3>Выделенные пароли</h3>
                        {% for password in available_passwords %}
                            <tr>
                                <td>{{ password.id }}</td>
                                <td>{{ password.service_name }}</td>
                                <td>{{ password.service_address }}</td>
                                <td>{{ password.description }}</td>
                                <td>{{ password.login }}</td>
                                <td>
                                    <form action="/passwords/detail/{{ password.id }}" style="margin-top:10px">
                                        <button class="btn btn-outline-warning" type="submit">Подробно</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if group_passwords %}
                {% for group in current_user.groups %}
                    <h3 style="margin-top: 20px">Пароли группы '{{ group.group_name }}'</h3>
                        <table id="group_passwords_table{{loop.index}}" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Имя сервиса</th>
                                    <th>Адрес сервиса</th>
                                    <th>Описание</th>
                                    <th>Логин</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for password in group.passwords %}
                                    <tr>
                                        <td>{{ password.id }}</td>
                                        <td>{{ password.service_name }}</td>
                                        <td>{{ password.service_address }}</td>
                                        <td>{{ password.description }}</td>
                                        <td>{{ password.login }}</td>
                                        <td>
                                            <form action="/passwords/detail/{{ password.id }}" style="margin-top:10px">
                                                <button class="btn btn-outline-warning" type="submit">Подробно</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready( function () {
            $('table.table').DataTable();
        } );
    </script>
{% endblock %}
