{% extends "shared/base.html" %}

{% block title %}
  <title>Изменение пароля</title>
{% endblock %}

{% block content %}

  <div class="container">

    <h1 style="margin-top: 20px; margin-bottom: 20px">Изменение пароля для пользователя "{{ current_user.username }}"</h1>

    {% if need_to_change %}
      <div class="alert alert-danger" role="alert">Необходимо изменить пароль.</div>
    {% endif %}

    {% for error in errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endfor %}

    {% for recommendation in recommendations %}
      <div class="alert alert-danger" role="alert">
        {{ recommendation }}
      </div>
    {% endfor %}

    {% if not recommendations and message %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endif %}

    <form method="POST">

      <div class="mb-3">
        <label for="current_password" class="form-label" style="margin-top: 1px">Текущий пароль</label>
        <input type="password" class="form-control" id="current_password" name="current_password" placeholder="введите текущий пароль" required>
      </div>
      <button type="button" id="old_display_button" name="pwd_display_button" class="btn btn-outline-success" onclick="return show_hide_password(this, 'current_password');" style="margin-bottom: 10px">Показать пароль</button>

      <div class="mb-3">
        <a>Требования к паролю:</a>
        <div class="list-group" style="margin-top: 10px">
          <a class="list-group-item list-group-item-action">Длина пароля должна быть не менее {{ parameters.RECOMMENDED_LENGTH }} символов.</a>
          <a class="list-group-item list-group-item-action">Пароль должен содержать как минимум {{ parameters.RECOMMENDED_NUMBER_OF_LOWER_CASE }} символ(-ов) латинского алфавита в нижнем регистре.</a>
          <a class="list-group-item list-group-item-action">Пароль должен содержать как минимум {{ parameters.RECOMMENDED_NUMBER_OF_UPPER_CASE }} символ(-ов) латинского алфавита в верхем регистре.</a>
          <a class="list-group-item list-group-item-action">Пароль должен содержать как минимум {{ parameters.RECOMMENDED_NUMBER_OF_DIGITS }} цифр(-у).</a>
          <a class="list-group-item list-group-item-action">Пароль должен содержать как минимум {{ parameters.RECOMMENDED_NUMBER_OF_SPECIAL }} специальный(-х) символ(-ов) (!, ?, #, @, %, (, ) и т. д.).</a>
        </div>
      </div>
      <div class="mb-3">
        <label for="new_password" class="form-label" style="margin-top: 1px">Новый пароль</label>
        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="введите новый пароль" required>
      </div>
      <button type="button" id="new_display_button" name="pwd_display_button" class="btn btn-outline-success" onclick="return show_hide_password(this, 'new_password');" style="margin-bottom: 10px">Показать пароль</button>
      <button type="button" class="btn btn-outline-success" onclick="return get_secure_password();" style="margin-bottom: 10px; margin-left: 20px">Сгенерировать надежный пароль</button>
      <div class="mb-3">
        <label for="repeat_new_password" class="form-label" style="margin-top: 1px">Повторите новый пароль</label>
        <input type="password" class="form-control" id="repeat_new_password" name="repeat_new_password" placeholder="введите новый пароль еще раз" required>
      </div>
      <button type="button" id="repeat_new_display_button" name="pwd_display_button" class="btn btn-outline-success" onclick="return show_hide_password(this, 'repeat_new_password');" style="margin-bottom: 10px">Показать пароль</button>

      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" type="submit" style="margin-top: 20px; margin-bottom: 30px;">Изменить пароль</button>
      </div>

    </form>

  </div>

{% endblock %}

{% block scripts %}

  <script>
    function show_hide_password(target, id){
      let input = document.getElementById(id);
      if (input.getAttribute('type') === 'password') {
        target.classList.add('view');
        input.setAttribute('type', 'text');
      } else {
        target.classList.remove('view');
        input.setAttribute('type', 'password');
      }
      return false;
    }

    function get_secure_password(){
      fetch("/passwords/api-secure-password",{method:'GET'})
              .then(response => response.json())
              .then(data => document.getElementById("new_password").value = data.message)
      }
  </script>

{% endblock %}
