{% extends "shared/base.html" %}

{% block title %}
  <title>Новый пароль</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
      {% include "components/tables/title.html" %}
      <div class="container">

        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
        {% endfor %}

        {% if msg %}
            <div class="alert alert-success" role="alert">
              {{ msg }}
            </div>
        {% endif %}

        <div class="row">
          <div class="col">
            <h1 class="display-5">Новый пароль</h1>
          </div>
        </div>

        <form method="POST">
            <div class="form-group">
                <label for="name" class="form-label">Имя сервиса</label>
                <input type="text" required class="form-control" id="name" name="name" placeholder="имя сервиса">
            </div>
            <div class="form-group" style="margin-top: 10px">
                <label for="address" class="form-label">Адрес сервиса</label>
                <input type="text" required class="form-control" id="address" name="address" placeholder="адрес сервиса">
            </div>
            <div class="form-group" style="margin-top: 10px">
                <label for="password_type" class="form-label">Тип пароля</label>
                <select class="form-select" id="password_type" name="password_type">
                    {% if current_user.is_superuser %}
                      <option value="1" selected>Пароль группы</option>
                    {% endif %}
                      <option value="2">Пароль пользователя</option>
                </select>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <label for="description" class="form-label">Описание пароля</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="описание пароля">
            </div>
            <div class="form-group" style="margin-top: 10px">
                <label for="login" class="form-label">Логин</label>
                <input type="text" required class="form-control" id="login" name="login" placeholder="логин">
            </div>
            <div class="form-group" style="margin-top: 10px">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" required class="form-control" id="password" name="password" placeholder="пароль">
            </div>

            <button type="button" id="pwd_display_button" name="pwd_display_button" class="btn btn-outline-success" onclick="return show_hide_password(this);" style="margin-top: 20px">Показать пароль</button>
            <button type="button" class="btn btn-outline-success" onclick="return get_secure_password();" style="margin-top: 20px; margin-left: 20px">Сгенерировать надежный пароль</button>

            {% if current_user.is_superuser %}

                <div class="form-group" style="margin-top: 10px">
                    <label for="users">Пользователи</label>
                    <div class="form-control" style="margin-top: 5px">
                        {% if users %}
                        <div class="custom_scrolling">
                            {% for user in users %}
                            <div class="form-check form-switch" style="margin-left: 5px">
                                <input class="form-check-input" type="checkbox" value="{{ user.id }}" name="users" id="users">
                                <label class="form-check-label" for="users">{{ user.username }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            <p>Пользователи не найдены.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group" style="margin-top: 10px">
                    <label for="groups" style="margin-bottom: 5px">Группы</label>
                    <div class="form-control">
                        {% if groups %}
                            <div class="custom_scrolling">
                                {% for group in groups %}
                                    <div class="form-check form-switch" style="margin-left: 5px">
                                        <input class="form-check-input" type="checkbox" value="{{ group.id }}" name="groups" id="groups">
                                        <label class="form-check-label" for="groups">{{ group.group_name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            {% else %}
                                <p>Группы не найдены.</p>
                        {% endif %}
                    </div>
                </div>

            {% endif %}

            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary" type="submit" style="margin-top: 20px; margin-bottom: 30px;">Создать</button>
            </div>
        </form>
      </div>
{% endblock %}

{% block scripts %}
    <script>
        function show_hide_password(target){
            var input = document.getElementById('password');
            if (input.getAttribute('type') === 'password') {
                target.classList.add('view');
                input.setAttribute('type', 'text');
            } else {
                target.classList.remove('view');
                input.setAttribute('type', 'password');
            }
            return false;
        }

        function get_secure_password(){
            fetch("/passwords/api-secure-password",{method:'GET'})
                .then(response => response.json())
                .then(data => document.getElementById("password").value = data.message);
        }
    </script>
{% endblock %}
