{% extends "shared/base.html" %}

{% block title %}
  <title>{{ password.service_name }}</title>
{% endblock %}

{% block content %}

  <div class="container">

    <h1 style="margin-top: 20px; margin-bottom: 20px">Информация о пароле</h1>

    {% if expired %}
      <div class="alert alert-danger" role="alert">
          Пароль не менялся более 90 дней. Рекомендуется изменить пароль.
      </div>
    {% endif %}

    <form>

<!--      <div class="mb-3">-->
<!--        <label for="owner_id" class="form-label" style="margin-top: 5px">ID владельца</label>-->
<!--        <input type="text" class="form-control" name="owner_id" id="owner_id" value="{{ password.owner_id }}" placeholder="имя владельца" disabled>-->
<!--      </div>-->

      <div class="mb-3">
        <label for="password_type" class="form-label">Тип пароля</label>
        <select class="form-select" id="password_type" name="password_type" disabled>
          {% if password.password_type == 1 %}
            <option value="1" selected>Пароль группы</option>
          {% endif %}
          {% if password.password_type == 2 %}
            <option value="2" selected>Пароль пользователя</option>
          {% endif %}
        </select>
      </div>

      <div class="mb-3">
        <label for="service_name" class="form-label" style="margin-top: 1px">Имя сервиса</label>
        <input type="text" class="form-control" name="service_name" id="service_name" value="{{ password.service_name }}" placeholder="имя сервиса" disabled>
      </div>

      <div class="mb-3">
        <label for="service_address" class="form-label" style="margin-top: 1px">Адрес сервиса</label>
        <input type="text" class="form-control" name="service_address" id="service_address" value="{{ password.service_address }}" placeholder="адрес сервиса" disabled>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label" style="margin-top: 1px">Описание</label>
        <input type="text" class="form-control" name="description" id="description" value="{{ password.description }}" placeholder="описание" disabled>
      </div>

      <div class="mb-3">
        <label for="date" class="form-label" style="margin-top: 1px">Дата создания</label>
        <input type="text" class="form-control" name="date" id="date" value="{{ password.date_created.date() }}" placeholder="дата создания" disabled>
      </div>

      {% if current_user.is_superuser %}
      <div class="mb-3">
        <label for="groups">Группы</label>
        <div class="form-control" style="margin-top: 10px">
          {% if password.groups %}
            <div class="custom_scrolling">
              {% for group in password.groups %}
                  <div class="form-check form-switch" style="margin-left: 5px">
                    <label class="form-check-label" for="groups">{{ group.group_name }}</label>
                    <input class="form-check-input" type="checkbox" value="{{ group.id }}" name="groups" id="groups" checked disabled>
                  </div>
              {% endfor %}
            </div>
            {% else %}
              <p>Группы не найдены.</p>
          {% endif %}
        </div>
      </div>

      <div class="mb-3">
        <label for="users">Пользователи</label>
        <div class="form-control" style="margin-top: 10px">
          {% if password.users %}
            <div class="custom_scrolling">
              {% for user in password.users %}
                  <div class="form-check form-switch" style="margin-left: 5px">
                    <label class="form-check-label" for="users">{{ user.username }}</label>
                    <input class="form-check-input" type="checkbox" value="{{ user.id }}" name="users" id="users" checked disabled>
                  </div>
              {% endfor %}
            </div>
            {% else %}
              <p>Пользователи не найдены.</p>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <div class="mb-3">
        <label for="login" class="form-label" style="margin-top: 1px">Логин</label>
        <input type="text" class="form-control" name="login" id="login" value="{{ password.login }}" placeholder="логин" disabled>
      </div>
      <button type="button" class="btn btn-outline-success" onclick='copyToClipboard("login", "login-copy", "Логин успешно скопирован")'>Скопировать логин</button>
      <a id="login-copy" style="margin-left: 20px; color: green"></a>

      <div class="mb-3">
        <label for="value" class="form-label" style="margin-top: 10px">Пароль</label>
        <input type="password" class="form-control" name="value" id="value" value="{{ password.value }}" placeholder="пароль" disabled>
      </div>

      <button type="button" class="btn btn-outline-success" onclick='copyToClipboard("value", "password-copy", "Пароль успешно скопирован")'>Скопировать пароль</button>
      <button type="button" id="pwd_display_button" name="pwd_display_button" class="btn btn-outline-success" onclick="return show_hide_password(this);" style="margin-left: 20px">Показать пароль</button>
      <a id="password-copy" style="margin-left: 20px; color: green"></a>

    </form>

    {% if current_user.is_superuser or current_user.id == password.owner_id %}
      <form action="/passwords/edit/{{ password.id }}">
        <div class="d-grid gap-2" style="margin-top: 50px; margin-bottom: 50px">
          <button type="submit" class="btn btn-outline-primary">Изменить пароль</button>
        </div>
      </form>
    {% endif %}

  </div>

{% endblock %}

{% block scripts %}

  <script>
    function show_hide_password(target){
      let input = document.getElementById('value');
      if (input.getAttribute('type') === 'password') {
        target.classList.add('view');
        input.setAttribute('type', 'text');
      } else {
        target.classList.remove('view');
        input.setAttribute('type', 'password');
      }
      return false;
    }
    function copyToClipboard(id, copy_id, text) {
      var copyText = document.getElementById(id);
      copyText.select();
      navigator.clipboard.writeText(copyText.value);
      document.getElementById(copy_id).innerHTML = text;
      setTimeout(clear_clipboard, 6000);
    }
    function clear_clipboard()
    {
      navigator.clipboard.writeText("");
    }
  </script>

{% endblock %}
