{% extends "shared/base.html" %}

{% block title %}
  <title>Ошибка</title>
{% endblock %}

{% block content %}
  <div class="container">
    <h1 style="margin-top: 20px; margin-bottom: 20px">Пароли не найдены</h1>
    <div class="alert alert-danger" role="alert">Список доступных Вам паролей пуст.</div>
    {% if current_user.is_superuser %}
      <form action="/passwords/create">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="submit">Создать пароль</button>
        </div>
      </form>
    {% endif %}
  </div>

{% endblock %}
