{% extends "shared/little_base.html" %}

{% block title %}
    <title>Генератор паролей</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

    {% include "components/navbar.html" %}
    {% include "components/tables/title.html" %}
    <div class="container" style="margin-top: 20px">
        <h5 style="margin-bottom: 20px">Параметры пароля</h5>

        {% for error in errors %}
            <div class="alert alert-danger" role="alert" style="margin-top: 10px">
                {{ error }}
            </div>
        {% endfor %}

        <form id="generate-form" method="post">

            <div class="form-group">
                <label for="length" class="form-check-label" style="margin-bottom: 5px">Длина пароля</label>
                <input type="number" class="form-control" id="length" value="24" name="length" placeholder="длина пароля" min="4" max="128">
            </div>

            <div class="form-check" style="margin-top: 20px">
                <input class="form-check-input" type="checkbox" name="lowercase" id="lowercase" checked>
                <label class="form-check-label" for="lowercase">Буквы латинского алфавита в нижнем регистре ('a', 'b', 'c', ...)</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="uppercase" id="uppercase" checked>
                <label class="form-check-label" for="uppercase">Буквы латинского алфавита в верхнем регистре ('A', 'B', 'C', ...)</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="digits" id="digits" checked>
                <label class="form-check-label" for="digits">Цифры ('0', '1', '2', ...)</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="math" id="math" checked>
                <label class="form-check-label" for="math">Математические операции ('+', '*', '/', '-', '=')</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="underscore" id="underscore" checked>
                <label class="form-check-label" for="underscore">Нижнее подчеркивание ('_')</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="punctuation" id="punctuation" checked>
                <label class="form-check-label" for="punctuation">Знаки пунктуации ('.', ':', ';', '",' '!', '?', ',')</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="brackets" id="brackets" checked>
                <label class="form-check-label" for="brackets">Скобки ('[', '(', '{', '<', '>', '}', ')', ']')</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="other_special" id="other_special" checked>
                <label class="form-check-label" for="other_special">Другие специальные символы ('@', '#', '$, '%', '^', '&', ''', '\', '`', '|', '~')</label>
            </div>

            {% if password %}
                <div class="mb-3">
                    <label for="generated_password" class="form-label" style="margin-top: 10px">Сгенерированный пароль</label>
                    <input type="text" class="form-control" value="{{ password }}" name="generated_password" id="generated_password" placeholder="сгенерированный пароль">
                </div>
                {% if recommendations %}
                    <div class="mb-3">
                        <label for="recommendations" class="form-label" style="margin-top: 10px">Рекомендации</label>
                        {% for recommendation in recommendations %}
                            <input type="text" class="form-control" name="recommendations" id="recommendations" value="{{ recommendation }}" style="margin-top: 10px" placeholder="рекомендации" disabled>
                        {% endfor %}
                    </div>
                        <div class="alert alert-danger" role="alert">
                            Пароль ненадежный.
                         </div>
                    {% else %}
                         <div class="alert alert-success" role="alert">
                            Пароль надежный.
                         </div>
                {% endif %}
            {% endif %}
            <div class="d-grid gap-2" style="margin-top: 40px; margin-bottom: 30px">
                <button class="btn btn-outline-primary" type="submit">Сгенерировать пароль</button>
            </div>

        </form>

    </div>

    <div class="container" style="margin-top: 75px">
        &nbsp;
    </div>

{% endblock %}

{% block scripts %}
    <script>
        let slider = document.getElementById("myRange");
        let output = document.getElementById("length");
        output.innerHTML = slider.value;
        slider.oninput = function() {
          output.innerHTML = this.value;
        }
    </script>
{% endblock %}