{% extends "shared/base.html" %}

{% block title %}
    <title>Перешифрование паролей</title>
{% endblock %}


{% block content %}

    <div class="container">

        <h1 style="margin-top: 20px; margin-bottom: 50px">Перешифрование паролей</h1>

        <div class="row">
          <div id="result" class="text-danger text-bold lead"></div>
        </div>

        {% for error in errors %}
          <div class="alert alert-danger" role="alert" style="margin-top: 10px">
            {{ error }}
          </div>
        {% endfor %}

        {% if message %}
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% endif %}

        <h5>Пожалуйста, убедитесь, что Вы разместили новый ключ шифрования AES-256 в переменной окружения с именем 'AES_NEW_SECRET_KEY'.</h5>

        <form method="POST">

            <div class="mb-3" style="margin-top: 20px">
                <label for="password" class="form-label" style="margin-top: 1px">Введите пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="введите пароль" required>
            </div>
            <button type="button" id="new_display_button" name="pwd_display_button" class="btn btn-outline-success" onclick="return show_hide_password(this, 'password');" style="margin-bottom: 10px">Показать пароль</button>

            <div class="form-group" style="margin-top: 30px; margin-bottom: 30px">
                <input class="form-check-input" type="checkbox" id="confirm" name="confirm" value="False" required>
                <label class="form-check-label" for="confirm" style="margin-left: 5px">Я подтверждаю изменение ключа шифрования и перешифрование всех паролей</label>
            </div>

            <div class="d-grid gap-2" style="margin-top: 20px; margin-bottom: 30px">
                <button type="submit" class="btn btn-outline-danger" onclick="reencrypt(this)">Перешифровать пароли</button>
            </div>

        </form>

    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function reencrypt()
        {
            const fdata = document.getElementById("update-form")
            const formData = new FormData(fdata)
            formData.set("confirm", document.getElementById("confirm").checked)
            fetch("/passwords/reencrypt/", {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => document.getElementById("result").innerHTML = data.message)
        }
        function show_hide_password(target, id){
            let input = document.getElementById(id);
            if (input.getAttribute('type') === 'password') {
                target.classList.add('view');
                input.setAttribute('type', 'text');
            } else {
                target.classList.remove('view');
                input.setAttribute('type', 'password');
            }
            return false;
        }
    </script>
{% endblock %}
