<table id="passwords_table" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>id</th>
            <th>Название сервиса</th>
            <th>Адрес сервиса</th>
            <th>Описание</th>
            <th>Login</th>
            <th>Password</th>
            <th>something</th>
        </tr>
    </thead>
    <tbody>
        {% for password in passwords %}
            <tr>
                <td>{{ password.id }}</td>
                <td>{{ password.service_name }}</td>
                <td>{{ password.service_address }}</td>
                <td>{{ password.description }}</td>
                <td>{{ password.username }}</td>
                <td>{{ password.value }}</td>
                <td>something{{ password.id }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>