<div class="container" style="margin-top: 100px">
    &nbsp;
</div>
<footer class="footer">
    <div class="footer-col">
        <div class="social-links">
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-github"></i></a>
        </div>
    </div>

    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/">Главная</a></li>
        <li class="menu__item"><a class="menu__link" href="/passwords/generate/">Генератор паролей</a></li>
    </ul>
    <p style="margin-left: 33px">&copy; 2022 Денисов Н.С. | Разработано для дипломного проекта</p>
</footer>